.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1%;
}
.results {
  display: grid;
  grid-template: auto / 20vw 80vw;
  padding-right: 20vw;
}
.CandleChart {
  object-fit: contain;
}
.options {
  padding-top: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
